* {
  direction: rtl;
}

.swiper-slide.active {
  background-color: transparent!important;
  border: 1px solid #000 !important;
}

#quantity-minus.disabled {
  color: #D4D7B3!important;
}

#mysr-cc-number{
  direction: ltr;
}

.mysr-form-footer{
  display: none !important;
}

.select2-selection{
    background: #f2f2f2 !important;
    border-style: none !important;
}

.select2-results__option--selected{
    background-color: var(--bs-primary) !important;
}